/** #### HEADER #### */

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
  gap: 32px;
}

.logo-title img {
  height: 128px;
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
}

.logo-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.search-field {
  display: flex;
  justify-content: center;
  margin-bottom: 64px;
  width: 100%;
}

.search-field img {
  height: 64px;
  padding: 8px;
  background-color: rgb(254, 202, 27);
  cursor: pointer;
}

.search-field img:hover {
  background-color: rgb(190, 146, 0);
}

input {
  flex: 0 0 50%;
  max-width: 900px;
  padding: 8px;
  font-size: 1.2rem;
  height: 64px;
  border: 0;
  border-radius: 32px 0 0 32px;
  background-color: rgb(254, 202, 27);
  color: gray;
}

/** #### POKEMON BOX #### */

.main-content {
  margin: 0 auto;
  max-width: 1920px;
}

.pokemon-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 32px; /* Abstand zwischen den Boxen */
  padding: 0 16px; /* kleiner Rand links/rechts */
}

.pokemon-box {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 300px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 32px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  box-shadow: 0px 0px 16px rgba(254, 201, 27, 0.5);
}

.pokemon-header {
  padding: 16px;
  display: flex;
  justify-content: space-around;
  font-size: 1.2rem;
  font-weight: bold;
}

.pokemon-img {
  display: flex;
  justify-content: center;
}

.pokemon-box img {
  width: 256px;
  height: 256px;
  padding: 32px;
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
}

.pokemon-footer {
  background-color: rgb(254, 202, 27);
  border-radius: 0 0px 32px 32px;
  padding: 16px;
  display: flex;
  justify-content: space-around;
  font-size: 1.2rem;
  font-weight: bold;

}

.more-btn {
  margin-top: 64px;
  margin-bottom: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.more-btn button {
  font-size: 2rem;
  padding: 16px 64px;
  border-radius: 16px;
  border: 0;
  background-color: rgb(254, 202, 27);
  cursor: pointer;
  color: beige;

}

.pokemons-total {
  height: 64px;
  width: 64px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(254, 202, 27);
  font-size: 2rem;
}
