/** ======== HEADER ======== */
/* #region */
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
  gap: 32px;
}

.logo-title img {
  height: 128px;
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
}

.logo-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.search-field {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 64px;
  width: 80%;
  font-size: 1.2rem;
  font-weight: bold;
}

.search-field img {
  height: 64px;
  padding: 8px;
  background-color: rgb(254, 202, 27);
  cursor: pointer;
}

input {
  flex: 0 0 50%;
  max-width: 900px;
  padding: 8px;
  font-size: 1.2rem;
  height: 64px;
  border: 0;
  border-radius: 32px 0 0 32px;
  background-color: rgb(254, 202, 27);
  color: gray;
}
/* #endregion */

/** ======== POKEMON-CARDS ======== */
/* #region */

.main-content {
  margin: 0 auto;
  max-width: 1920px;
}

.pokemon-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 32px;
  padding: 0 16px;
}

.pokemon-box {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 300px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 32px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.8), 2px 2px 12px rgba(0, 0, 0, 0.6),
    4px 4px 16px rgba(0, 0, 0, 0.4);
  transition: transform 0.4s;
}

.pokemon-box:hover {
  transform: scale(1.1);
  cursor: pointer;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.8), 6px 6px 12px rgba(0, 0, 0, 0.6),
    8px 8px 16px rgba(0, 0, 0, 0.4), 10px 10px 32px rgba(0, 0, 0, 0.2);
}

.pokemon-header {
  padding: 16px;
  display: flex;
  justify-content: space-around;
  font-size: 1.2rem;
  font-weight: bold;
}

.pokemon-img {
  display: flex;
  justify-content: center;
}

.pokemon-box img {
  width: 256px;
  height: 256px;
  padding: 32px;
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
}

.pokemon-footer {
  background-color: #333;
  border-radius: 0 0px 32px 32px;
  padding: 16px;
  display: flex;
  justify-content:space-around;
  font-size: 1.2rem;
  font-weight: bold;

}
/* #endregion */

/** ======== MORE-BUTTON ======== */
/* #region */
.more-btn {
  margin-top: 64px;
  margin-bottom: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.more-btn button {
  font-size: 2rem;
  padding: 16px 64px;
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background-color: rgb(254, 202, 27);
  cursor: pointer;
  color: beige;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  transition: transform 0.2s;
}

.more-btn button:hover {
  transform: scale(1.1);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.54);
}
/* #endregion */

.pokemons-total {
  height: 128px;
  width:128px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(254, 202, 27);
  font-size: 2rem;
  font-weight: bolder;
}

/** ======== FOOTER ======== */
/* #region */

footer {
  background-color: rgb(254, 202, 27);
  height: 256px;
  border-top: 2px solid bisque;
}
/* #endregion */
