* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-optical-sizing: auto;
}

body {
  font-family: "Nunito";
  background-color: rgb(40, 42, 54);
  color: bisque;
  padding: 32px;
}
